@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth !important;
}
body {
  @apply bg-white text-[#0a0a0a] dark:bg-[#0a0a0a] dark:text-white;
  font-family:  Arial, Helvetica, sans-serif;
}
